<div class="text-center py-5">
  <h4 class="common-page-title">
  ★★★MYPAGE★★★
  </h3>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-search fa-4x mb-3"></i>
            <h5 class="card-title">
              <%= link_to "Search",
                  person_search_path,
                  class: 'text-dark stretched-link'
              %>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-cogs fa-4x mb-3"></i>
            <h5 class="card-title">
              x[Setting]
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-key fa-4x mb-3"></i>
            <h5 class="card-title">
              <%= link_to "Password Reset",
                  edit_user_path(current_user.id),
                  class: 'text-dark stretched-link'
              %>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-question-circle fa-4x mb-3"></i>
            <h5 class="card-title">
              ××××××××××
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-question-circle fa-4x mb-3"></i>
            <h5 class="card-title">
              ××××××××××
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-5">
      <div class="card text-center border-dark">
        <div class="my-auto">
          <div class="card-body w-75 mx-auto my-auto">
            <i class="fas fa-question-circle fa-4x mb-3"></i>
            <h5 class="card-title">
              ××××××××××
            </h5>
          </div>
        </div>
      </div>
    </div>

  </div>
    


</div>
    
            


