<div id="mypage">
  <div id="test-easing" class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('/assets/mypage_bg.jpg');" uk-height-viewport>
    <div class="uk-grid uk-margin-auto uk-margin-auto-vertical uk-flex-inline">

      <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <%= link_to(person_search_path, class: 'uk-display-block uk-link-reset') do %>
          <div class="uk-card uk-card-body uk-overlay-primary uk-text-center">
            <i class="fas fa-search fa-4x uk-margin-top"></i>
            <p class="uk-h4">search</p>
          </div>
        <% end %>


        <%= link_to(edit_user_path(current_user.id), class: 'uk-display-block uk-link-reset') do %>
          <div class="uk-card uk-card-body uk-card-body uk-overlay-primary uk-text-center">
            <i class="fas fa-cogs fa-4x uk-margin-top"></i>
            <p class="uk-h4">Setting</p>
          </div>
        <% end %>  

        <div class="uk-display-block uk-link-reset">
          <div class="uk-card uk-card-body uk-overlay-primary uk-text-center">
            <i class="fas fa-question-circle fa-4x uk-margin-top"></i>
            <p class="uk-h4">
                高度情報通信
            </p>
          </div>
        </div>

        <div class="uk-display-block uk-link-reset">
          <div class="uk-card uk-card-body uk-overlay-primary uk-text-center">
            <i class="fas fa-question-circle fa-4x uk-margin-top"></i>
            <p class="uk-h4">
                ××××××××××
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


