.text-center.py-5
  %h4.common-page-title
    ★★★MYPAGE★★★
.container
  .row
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-search.fa-4x.mb-3
            %h5.card-title
              = link_to "Search",                 |
                person_search_path,               |
                class: 'text-dark stretched-link' |
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-cogs.fa-4x.mb-3
            %h5.card-title
              x[Setting]
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-key.fa-4x.mb-3
            %h5.card-title
              = link_to "Password Reset",         |
                edit_user_path(current_user.id),  |
                class: 'text-dark stretched-link' |
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-question-circle.fa-4x.mb-3
            %h5.card-title
              ××××××××××
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-question-circle.fa-4x.mb-3
            %h5.card-title
              ××××××××××
    .col-md-4.mb-4.mb-md-5
      .card.text-center.border-dark
        .my-auto
          .card-body.w-75.mx-auto.my-auto
            %i.fas.fa-question-circle.fa-4x.mb-3
            %h5.card-title
              ××××××××××
