<div uk-sticky="sel-target: .uk-section-secondary; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
  <nav class="uk-section-secondary" uk-navbar style="position: relative; z-index: 980;">
    <div class="uk-navbar-left">
      <% if logged_in? %>
        <%= link_to "LOGO", mypages_path, class: 'uk-navbar-item uk-logo' %>
      <% else %>
        <%= link_to "LOGO", root_path, class: 'uk-navbar-item uk-logo' %>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </div>
    <% end %>
  </nav>
</div>